.kar{
    height: 30px;
    width:30px;
    margin-left: 80px;
   
    
}
.moa{
    height: 30px;
    width:30px; 
}
.tin{
    display: flex;
    flex-direction: row;
    
}


.navbar {
    background-color: #ffffff; 
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(109, 109, 109);
}
.leftsidebar{
   
    display: flex;
    flex-direction: row;
    position: fixed;
    
}
.era{
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    width:150px;
    height:90vh;
    border: 1px solid rgb(109, 109, 109);
   
    
}

.navbar img{
height:40px;
width:50px;
margin-left: 10px;
margin-top: 10px;
}
.team{
    font-size: 30px;
    margin-left: 5px;
}
.input{
    margin-left: 300px;
    margin-top: 10px;
}
.input input{
    width:350px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(51, 51, 51);
}
.tar{
    margin-top: 10px;
}
.kick{
    height: 30px;
    width:40px;
}
.space{
    margin-left: 450px;
}
.poga{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  
  }
  
   td,th {
    border-bottom: 1px solid #818181;
    text-align: left;
    padding: 8px;
  }
  th{
    border-top: 1px solid #818181;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
.main{
    padding-left:100px;
}
.sura{
    border-radius: 5px;
    margin-left: 150px;
    margin-top:30px;
    height: 600px;
    width:1000px;
    border:1px solid rgb(111, 111, 111);
    background-color: white;
}
.we{
    padding: 5px;
   
}
.we p{
    font-size: 20px;
    padding-left: 30px;
    font-weight: bolder;
}
.search{
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.search input{
    padding: 5px;
    width:190px;
    border-radius: 5px;
    border: 1px solid rgb(51, 51, 51);
}
.note{
    height:25px;
    width:25px;
}
.it{
    padding-left: 20px;
    padding-top:20px ;
    display: flex;
    flex-direction: row;
}
.plo{
    padding-left:05px;
    padding-top: 100px;
    font-size: 25px;
}
.wer{
    margin-left: 4px;
}
.button{
    margin-left: 900px;
    margin-bottom: 30px;
}
.button input,.val{
background-color: green;
color:white;
font-weight: bold;
padding: 5px;
border-radius: 7px;
width:60px;
}
.val{
    width:70px;
}
.tin{
    margin-left: 540px;
    margin-top: 15px;
}
.moa{
    margin-left: 10px;
}
